body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 263px;
    height: 93px;
    margin-top: 42px;
    margin-bottom: 17px;
}

.search-bar {
    width: 1240px;
    height: 69px;
}

.search-btn {
    width: 69px;
    border: none;
    background-color : #E7E7E7;
}

.fa-search {
    font-size: 30px;
}

input[type="search"], textarea {
    background-color : #E7E7E7; 
  }

input::placeholder {
    font-weight: 400;
    font-size: 18px;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
    width: 1240px;
    margin-top: 20px;
    align-items: flex-start;
    gap: 20px;
}

.btn-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 69px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.dropdown-menu a {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.btn-blue, .first-dropdown {
   background-color:#3282F7;
   
}

.btn-green, .second-dropdown{
    background-color:#68D9A4;
}

.btn-red, .third-dropdown {
    background-color:#ED6454;
}

